@import "reset"

body
  background #FFF
  font normal 18px Helvetica, sans-serif

.editor
  width 600px
  height 200px
  margin 20px auto
  padding 25px 10px 10px 10px
  border 1px solid #DDD
  overflow auto
  position relative
  
  .message
    min-height 100%

  .controls
    position absolute
    top 0
    left 0

    .control_U 
      text-decoration underline

    .control_I 
      font-style italic
    
    .control_B 
      font-weight bold